@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Simon Westerburger</h1>
    <p class="lead">Semester 2 Project - Film Webshop</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>